//
// molecules/_brand
// ============================================================================
.navbar-brand
  height auto
  padding-left 0
  max-width 250px

  img
    width 100%
    display block
