//
// organisms/_header-superior
// ============================================================================
.header-superior
  display block
  padding 5px 0
  background-color $color-secundary

  a
    font-size 13px
    color $color-white
    transition all .2s

    &:hover
      color $color-primary
      text-decoration none
