//
// organisms/_hero
// ============================================================================
.hero
  position relative

  display block

  &-controls
    top 50%
    position absolute
    transform translateY(-50%)

  &-content
    width 100%
    min-height 26vw
    padding 25px 0

  &-item
    background-size cover
    background-position center
    background-repeat no-repeat

  &-title
    font-size 55px

  &-text
    display block
    margin 25px 0

  &-link
    font-weight 500

    border-radius 0
    border-width 2px
    border-color $color-primary
    background-color $color-primary

    transition all .2s

    &:hover
      color $color-primary
      background-color transparent
