//
// Main stylus
// ============================================================================
@import '_core/core'
@import 'atoms/*'

@import 'molecules/_brand'
@import 'molecules/_navigation'

@import 'organisms/_header-superior'
@import 'organisms/_hero'

@import 'templates/_header'

.main
  padding-top 102px

  +above(1024px)
    padding-top 0
