//
// Main stylus
// ============================================================================
@import '_core/core'
@import 'atoms/*'

@import 'molecules/_brand'
@import 'molecules/_navigation'

@import 'organisms/_header-superior'
@import 'organisms/_hero'
@import 'organisms/_newsletter'

@import 'templates/_header'

.main
  padding-top 102px

  +above(1024px)
    padding-top 0

#map
  width 100%
  height 100vh
  display block

  border-bottom 10px solid $color-primary

  +above($screen-sm)
    height 27vw
