//
// templates/_header
// ============================================================================
.main-header
  top 0
  left 0
  z-index 10
  position fixed
  background-color $color-white

  width 100%
  display block

  +above(1024px)
    position static
